.overlay2 {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.58);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9; /* ie fallback png background image */
    z-index:9999;
    color:white;
}

#bg {
    -webkit-background-size: cover;
    background-size: cover;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#footer{
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
    background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5) 75%);
    font-style: italic;
    bottom: 0;
    cursor: default;
    height: 6em;
    line-height: 8em;
    position: absolute;
    text-align: right;
    float: right;
}

/*#main:before {*/
    /*content: '';*/
    /*display: inline-block;*/
    /*!* height: 100%; *!*/
    /*margin-right: 0;*/
    /*vertical-align: middle;*/
    /*width: 1px;*/
/*}*/
