	<body>
		<div id="wrapper">
            <div id="bg">
                <img src="{{(logos$ | async)?.bannerURL?.source}}">
            </div>

            <div class="overlay2">
                <div class="float-right mr-4 mt-2">{{(logos$ | async)?.availableDate | date :  'longDate'}}</div>
                <div id="main" class="align-content-center">
                <!-- Header -->
                    <header id="header" class="ml-2" >
                        <h1 class="display-1 w-100">{{(logos$ | async)?.word?.word}}</h1>
                        <span class=" row align-content-center">
                            <small class="col-2"></small>
                            <small class="col-4 ">{{(logos$ | async)?.pos}}</small>
                            <small class="col-4">{{(logos$ | async)?.pronunciations[0].pronunciation}}</small>
                            <small class="col-2"></small>
                        </span>
                        <h5 class="font-italic" >{{(logos$ | async)?.definitions[0].definition}}</h5>
                    </header>

                    <footer id="footer" class="float-right">
                        <i class="mr-3" style="font-size:1rem">
                            "{{(logos$ | async)?.bannerURL.image}}" by
                                <a href="{{(logos$ | async)?.bannerURL.authorLink}}" >
                                {{(logos$ | async)?.bannerURL.author}}</a>
                        </i>
                    </footer>
                </div>
            </div>
		</div>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<!-- <script>
			window.onload = function() { document.body.className = ''; }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script> -->
	</body>
