 <head>
  <title>Sentever</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<!-- <div class="content-area"> -->
        <router-outlet></router-outlet>
<!-- </div> -->

